body {
    font-family: 'Poppins', sans-serif; 
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    grid-column: 1 / -1; 
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
    animation: slideIn 1s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ebf7ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #d8e0eb;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 15px;
    border: 1px solid #9b9797;
    text-align: center;
    font-size: 1rem;
  }
  
  .Guardar {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .Guardar:hover {
    background-color: #66bb6a;
    transform: scale(1.05);
  }
  
  .Guardar:active {
    background-color: #388e3c;
    transform: scale(0.95);
  }
  
  #modal {
    animation: fadeIn 0.5s ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #msg {
    display: none;
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }  